python-requires >= "3.11"
fastapi==0.95.0
uvicorn==0.21.1
python-dotenv==1.0.0
spotipy==2.25.0
httpx==0.24.0
python-jose[cryptography]==3.3.0
pyjwt==2.6.0
pinecone-client==2.2.4
numpy>=1.26.0
pandas>=2.0.2
scikit-learn>=1.2.2
transformers>=4.30.2
python-multipart==0.0.6
bcrypt==4.0.1
passlib==1.7.4